<mat-card>
  <mat-card-title> New Product </mat-card-title>
  <form class="form">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="product.name" name="name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price (R$)" [(ngModel)]="product.price" name="price" />
    </mat-form-field>
  </form>
  <button class="form-button" mat-raised-button (click)="createProduct()" color="primary">create</button>

  <button class="form-button" mat-raised-button (click)="cancel()">cancel</button>
</mat-card>
